

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    height: 800px;
    width: 1440px;
    background-image: url("images/pattern-bg.svg"),url("images/pattern-curve.svg");
    background-position: 704px 68px, 0px 847px;
    background-repeat: no-repeat;
    display: flex;
     justify-content: center;
    align-items: center; 
}
.contianer{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.descriptionContainer{
    width:635px ;
    height:354px;
    
    position: relative;
    left: 62px;
    background-image: url("images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-position-x: 5.3125rem;
    
}
.sliderImage{
    width: 33.75rem;
    height: 33.75rem;
    border-radius: 5px;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 94px -104px, rgb(0 0 0 / 30%) 0px 42px 21px -26px;
}
.sliderImage img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.desc{
    font-size: 32px;
    margin-top:71px;
}
.fullName,.job{
    font-size: 20px;
    
}
.introduc{
   
    margin-top: 42px;
}
.fullName{
    color: #202047;
    font-weight: 700;
}
.job{
    color:#B9B9CE ;
}
.arrow{
    display: flex;
    width: 7rem;
    height: 3.5rem;
    background: #ffffff;
    border-radius: 28px;
    position: absolute;
    margin-top:-2rem; 
     margin-left:2.9375rem;
    z-index: 99;
    justify-content: space-around;
    align-items: center;
}
   
.next,.prev{
    content: "";
     width:20px ;
     height: 24px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain; 
   
}
.next:hover,.prev:hover{
    cursor: pointer;
}
.prev{
    background-image:url("images/icon-prev.svg");
}
.next{
    background-image:url("images/icon-next.svg");
}

/* mobile */
@media (max-width:1160px) {
    body{
        width: 375px;
        min-height:667px;
        background-image: url("images/pattern-curve.svg");
        background-position: 0 700px;
        
    }
    .contianer{
       width: 100%;
        height: 100%;
        margin-top:-249px;
        flex-direction: column-reverse;

    }
    
    .sliderImagContainer{
        width:327px ;
        height:308px ;
        background-image: url("images/pattern-bg.svg");
        background-repeat: no-repeat;
        background-size:contain;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;

    }
    .sliderImage{
        width: 254px;
        height: 253px;
    }
    img{
        width: 100%;
        height: 100%;
    }
    .arrow{
        width: 80px;
        height: 40px;
        margin-left: 87px;
        margin-top:-1.5rem;
  
    }
    .next,.prev{
        width:6px;
        height:12px;
        
    }
    .descriptionContainer{
        width: 311px;
        height: 228px;
        left: 0;
        top: 56px;
        background-size: 60px;
        background-position: 122px 0px;
        text-align: center;
    }
    .desc{
        font-size: 18px;
        margin-top:30px;
    }
    .fullName,.job{
        font-size: 15px;
        
    }
    .introduc{
        display: flex;
        flex-direction: column;
        margin-top:24px;
    }
}